.container {
  margin-top: 20px;
}

#user-data.ng-invalid.ng-touched {
  border: thick double rgba(255, 0, 0, 0.1);
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}
